.body {
  text-align: center;
}

.picture {
  height: 50vh;
  width: 70vh;
  margin: 0;
  position: absolute;
  top: 51%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.button {
  height: 6vh;
  width: 20vh;
  font-size: 1rem;
  border-radius: 0.5rem;
  margin: 0;
  position: absolute;
  top: 80%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
