.App {
  height: 20vh;
  width: 80vh;
  display: grid;
  place-items: center;
  position: absolute;
  border-radius: 0.4rem;
  font-size: 2rem;
  top: 30%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: background-color 2s;
}

.picture {
  display: flex;
  width: 40rem;
  height: 20rem;
}
